@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@theme {
  /* Family Font */
  --font-rounded: "M PLUS Rounded 1c", sans-serif;

  --color-duo-green: #61e006;
  --color-duo-green-dark: #61b800;
  --color-duo-blue: #28c4ff;
  --color-duo-blue-dark: #28a0ff;
}

#modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: opacity, visibility;
  transition-duration: 300ms;
}

#modal-overlay.visible {
  opacity: 1;
  visibility: visible;
}

#modal-overlay.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 90%;
  width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  transition-property: transform;
  transition-duration: 300ms;
  transform: scale(0.95);
}

#modal-overlay.visible #modal-content {
  transform: scale(1);
}
