@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #f8f7f4;
  color: #3d405b;
}

.nav-link {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}

.nav-link.active {
  color: #3a86ff;
  border-bottom-color: #3a86ff;
}

.nav-link:hover {
  color: #3a86ff;
}

#modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: opacity, visibility;
  transition-duration: 300ms;
}

#modal-overlay.visible {
  opacity: 1;
  visibility: visible;
}

#modal-overlay.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 90%;
  width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  transition-property: transform;
  transition-duration: 300ms;
  transform: scale(0.95);
}

#modal-overlay.visible #modal-content {
  transform: scale(1);
}
